<a name="resulequipos"></a>
    
<div class="container p-4 mx-auto">

<table class="table table-sm table-striped table-bordered table-hover">
<h3>
  <small class="text-muted">Resultados por Equipos <%- categoria %> </small>
</h3> 
 <thead class="table-success">
    <tr align="center">
      <th scope="col">J</th>

      <th scope="col">Esc.</th>
      <th scope="col">Equipo</th>

      <th scope="col">GF</th>
      <th scope="col">GC</th>

      <th scope="col">Rival</th>
      <th scope="col">Puntos</th>
      <th scope="col">Fecha</th>

    </tr>
  </thead>
  <tbody>
      
      
      

    <% for(var i=0 ; i < Equipos.length; i++) { %>
      
    <tr align="center">
      <td><%- Equipos[i].Jornada %></td>
      <td><img src="<%- Equipos[i].Escudolc %>" width="40px" height="40px" class="img-thumbnail"></img></td>
      <td><%- Equipos[i].Equipolc %></td>
      <td><%- Equipos[i].GF %></td>
      <td><%- Equipos[i].GC %></td>
      <td><img src="<%- Equipos[i].Escudo %>" width="40px" height="40px" class="img-thumbnail"></img></td>
      <td><%- Equipos[i].Puntos %></td>
      <td><%- Equipos[i].Fecha %></td>
    </tr>
    <% } %>

  </tbody>
</table>

</div>